h2 {
  font-weight: 450;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}

.second-layer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;

  @media (max-width: 1200px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 764px) {
    display: grid;
    grid-template-columns: 1fr;
  }
}
