.header-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;

  @media (max-width: 768px) {
    display: none;
  }

  a {
    text-decoration: none;
    font-size: 1rem;
    color: rgb(99, 115, 129);

    li {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: rgb(99, 115, 129);
      cursor: pointer;
    }
  }
}

.menu-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  a {
    text-decoration: none;
    font-size: 1rem;
    color: rgb(99, 115, 129);

    li {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      cursor: pointer;
      transition-duration: 0.2s;
      border-radius: 0.5rem;
      padding: 0.8rem 0.8rem 0.8rem 0.8rem;

      &:hover {
        background-color: rgba(145, 158, 171, 0.1);
      }
    }
  }
}
