nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 8rem 1rem 8rem;

  @media (max-width: 864px) {
    padding: 1rem 5rem 1rem 5rem;
  }

  @media (max-width: 564px) {
    padding: 1rem 2rem 1rem 2rem;
  }

  .left {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    .mob-menu-icon {
      svg {
        font-size: 1.5rem;
        cursor: pointer;
        color: rgb(99, 115, 129);
      }
      @media (min-width: 768px) {
        display: none;
      }
    }

    a {
      text-decoration: none;
      color: #050505;
      font-weight: 800;
      font-size: 1.5rem;
      color: #50c878;
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 2rem;

    ul {
      list-style: none;
      display: flex;
      gap: 1.5rem;

      @media (max-width: 768px) {
        display: none;
      }

      li {
        cursor: pointer;
        color: rgb(99, 115, 129);

        a {
          gap: 0.5rem;
          display: flex;
          align-items: center;
          text-decoration: none;
          color: #050505;
          font-size: 1rem;
          color: rgb(99, 115, 129);
        }
      }
    }

    .cta {
      .lang {
        width: 40px;
        height: 35px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .avatar {
        cursor: pointer;
      }
    }
  }
}
